.Score {
    color: #282828;
    font-weight: 700;
    position: relative;
}

.increment {
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 0%;
    color: #A8A8A8;
}

.increment.animate {
    animation: addIncrement 1s ease-out;
}

@keyframes addIncrement {
    0% { top: 0px; opacity: 0%; }
    50% { top: -20px; opacity: 100%; }
    100% { top: -25px; opacity: 0%; }
}