.Title {
    display: flex;
    align-items: baseline;
}

.Title h1{
    font-size: 48px;
    color: #282828;
    line-height: 130%;
    margin: 0;
    margin-bottom: 20px;
    padding-right: 10px;
}

@media only screen and (max-width: 550px) {
    .Title {
        display: flex;
        align-items: last baseline;
    }
}